# --- Node.js ---
node_modules/
.cache/
build/
public/build/
.env

# --- Firebase ---
.firebase/
firebase-debug.log*
firestore-debug.log*
ui-debug.log*

# --- TypeScript / Vite ---
*.tsbuildinfo
.vrit/

# --- OS ---
.DS_Store
